.main__block {
  border-radius: 45px;
  padding: 50px 30px;
}

.main__gallery {
  position: relative;
  margin-bottom: 5px;
  border-radius: 45px;
  overflow: hidden;
}

.main__gallery .splide__track {
  border-radius: 45px;
}

.main__gallery .main__block {
  height: 680px;
  background-position: center;
  position: relative;
}

.main__gallery__corner {
  display: none;
}

.main__gallery__img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__gallery .splide .main__block::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.05);
  z-index: 0;
}

.main__gallery__mob-title {
  display: none;
}

.main__gallery__logo {
  position: absolute;
  left: 30px;
  top: 33px;
  z-index: 9;
  display: none;
  width: 23px;
}

.main__gallery__subtitle {
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 10px;
  padding-left: 3px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.main__gallery__subtitle img {
  margin-right: 15px;
}

.main__gallery .splide .main__block {
  border-radius: 0;
}

.main__gallery__controls {
  position: absolute;
  right: 30px;
  bottom: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.main__gallery__controls img {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.main__gallery__controls img:first-child {
  margin-right: 19px;
}

.main__gallery__controls img:last-child {
  margin-left: 19px;
  transform: rotate(180deg);
}

.main__gallery__title {
  font-size: 64px;
  line-height: 74px;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.main__gallery__info {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #ffffff;
  font-size: 20px;
  line-height: 140%;
  width: 675px;
  max-width: 80%;
}

.main__numbers {
  position: relative;
  overflow: hidden;
  background-color: #6801e6;
  padding-bottom: 0;
  transition: background-color 0.15s ease-in;
}

.main__numbers_desktop {
  display: block;
}

.main__numbers_mobile {
  display: none;
}

.main__numbers_desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 30px;
}

.numbers__menu {
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(100px);
  border-radius: 70px;
  position: relative;
  margin-bottom: 25px;
}

@supports (
  (-webkit-backdrop-filter: blur(30px)) or (backdrop-filter: blur(8px))
) {
  .menu.numbers__menu {
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(30px);
  }
}

.numbers__item {
  width: 25%;
  text-align: center;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.5;
  padding: 21px 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: opacity 0.15s ease-in;
}

.numbers__item:not(.numbers__item_active):hover {
  opacity: 1;
}

.numbers__item_active {
  cursor: default;
}

.numbers__item_noborder {
  border: none;
}

.numbers__arrow {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddcef0;
  transition: all 0.3s ease-out 0s;
}

.numbers__path {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #6801e6;
  transition: width 0.3s ease-out 0s;
  pointer-events: none;
}

.numbers__dividers {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.numbers__dividers__item {
  width: 25%;
  border-right: 2px solid #ffffff1a;
}

.numbers__dividers__item:last-child {
  border: none;
}

.numbers__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.numbers__slides .splide__slide:nth-child(1) .numbers__slide__count,
.numbers__slides .splide__slide:nth-child(1) .numbers__slide__info {
  color: rgb(220, 204, 239);
}

.numbers__slides .splide__slide:nth-child(1) .numbers__slide__info:before {
  background-image: url("data:image/svg+xml;utf8,<svg width='99' height='80' viewBox='0 0 99 80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 0C1 31 34 78.5 99 78.5' stroke='rgb(220, 204, 239)' stroke-width='2'/></svg>");
}

.numbers__slides .splide__slide:nth-child(2) .numbers__slide__count,
.numbers__slides .splide__slide:nth-child(2) .numbers__slide__info {
  color: rgb(255, 228, 206);
}

.numbers__slides .splide__slide:nth-child(2) .numbers__slide__info:before {
  background-image: url("data:image/svg+xml;utf8,<svg width='99' height='80' viewBox='0 0 99 80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 0C1 31 34 78.5 99 78.5' stroke='rgb(255, 228, 206)' stroke-width='2'/></svg>");
}

.numbers__slides .splide__slide:nth-child(3) .numbers__slide__count,
.numbers__slides .splide__slide:nth-child(3) .numbers__slide__info {
  color: rgb(233, 255, 254);
}

.numbers__slides .splide__slide:nth-child(3) .numbers__slide__info:before {
  background-image: url("data:image/svg+xml;utf8,<svg width='99' height='80' viewBox='0 0 99 80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 0C1 31 34 78.5 99 78.5' stroke='rgb(233, 255, 254)' stroke-width='2'/></svg>");
}

.numbers__slides .splide__slide:nth-child(4) .numbers__slide__count,
.numbers__slides .splide__slide:nth-child(4) .numbers__slide__info {
  color: rgb(103, 1, 228);
}

.numbers__slides .splide__slide:nth-child(4) .numbers__slide__info:before {
  background-image: url("data:image/svg+xml;utf8,<svg width='99' height='80' viewBox='0 0 99 80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 0C1 31 34 78.5 99 78.5' stroke='rgb(103, 1, 228)' stroke-width='2'/></svg>");
}

.numbers__slide_dark .numbers__slide__count,
.numbers__slide_dark .numbers__slide__info {
  color: #6801e6;
}

.numbers__slide__count {
  font-family: 'Space Grotesk';
  font-size: 210px;
  font-size: 12vw;
  line-height: 130%;
  text-align: center;
  color: #ddcef0;
  margin-bottom: 30px;
}

.numbers__slide__info {
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #ddcef0;
  max-width: 322px;
  position: relative;
}

.numbers__slide__info:before {
  content: '';
  display: block;
  position: absolute;
  left: -98px;
  top: -52px;
  width: 98px;
  height: 78px;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__artists {
  display: flex;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.main__artists_mob {
  display: none;
}

.main__artists__tape {
  display: flex;
  flex-wrap: nowrap;
  margin: 2.5px 0;
}

.main__artists::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
}

.artists__block {
  width: 712px;
  min-width: 712px;
  height: 712px;
  border-radius: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.artists__item {
  width: 354px;
  height: 354px;
  padding: 2.5px;
  border-radius: 45px;
  overflow: hidden;
}

.artists__item_info {
  padding: 20px;
  background: #79c2be;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 349px;
  height: 349px;
  margin: 2.5px;
}

.artists__item__button {
  display: block;
  width: 100%;
  padding: 21px 0;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border-radius: 35px;
  background: #ffffff26;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.artists__item__button:hover {
  color: #79c2be;
  background: #fff;
}

.artists__item__text {
  padding: 0 10px;
}

.artists__item__title {
  font-size: 64px;
  line-height: 74px;
  margin-bottom: 10px;
}

.artists__item__subtitle {
  font-size: 20px;
  line-height: 140%;
}

.artists__item_large {
  width: 710.5px;
  height: 710.5px;
  padding: 2.5px 1.5px;
}

.artists__item__img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 40px;
  object-fit: cover;
}

.main__join {
  height: 50vw;
  margin-bottom: 5px;
}

.join__form {
  width: 100%;
  height: 100%;
  display: flex;
}

.join__info {
  width: 50%;
  height: 100%;
  background: #ddcef0;
  border-radius: 45px;
  padding: 32px;
  font-size: 20px;
  line-height: 130%;
  color: #6801e6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1;
  margin-right: 5px;
}

.join__info__title {
  font-size: 64px;
  line-height: 74px;
  color: #6801e6;
  margin-bottom: 10px;
}

.join__info__text p {
  margin-bottom: 20px;
}

.join__info__submit {
  width: 100%;
}

.join__info__submit button {
  display: none;
}

.join__info__slider {
  position: relative;
  width: 100%;
  background: #6801e61a;
  border-radius: 70px;
  padding: 5px;
}

.join__slider__contol {
  background: #6801e6;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  position: relative;
  cursor: pointer;
  transition: all 0.15s ease;
}

.join__slider__send {
  font-size: 20px;
  line-height: 130%;
  color: #ddcef0;
  display: none;
  position: absolute;
  width: 100%;
  height: 85%;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 9;
  pointer-events: none;
  transform-origin: center center;
}

.join__slider_finish .join__slider__send {
  display: flex;
}

.join__slider_finish .join__slider__contol:hover {
  transform: scaleX(1.015) scaleY(1.1);
}

.join__slider__contol svg {
  position: absolute;
  right: 18px;
  top: calc(50% - 13px);
}

.join__slider_start .join__slider__contol {
  width: 33%;
}

.join__slider_mid .join__slider__contol {
  width: 66%;
}

.join__slider_finish .join__slider__contol {
  width: 100%;
}

.join__slider_send .join__slider__send {
  display: none;
}

.join__slider__send_finish {
  display: none !important;
}

.join__slider_send .join__slider__send_finish {
  display: flex !important;
}

.join__slider_send .join__slider__contol {
  transform: scaleX(1.015) scaleY(1.1);
}

.join__slider_send .join__slider__contol svg {
  display: none;
}

.join__slider__send_finish:before {
  content: 'Спасибо! Пожалуйста дождитесь ответа на письмо.';
}

.join__inputs {
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: 100%;
  background-color: #f2f2f2;
  background-image: url('../images/main/disk.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 71px 0 100px;
  transform: translateX(-550px);
  transition: transform 0.5s cubic-bezier(0.56, 0.72, 0.38, 1.05);
}

.join__inputs_open {
  transform: translateX(0);
}

.join__inputs_closed {
  transform: translateX(-550px) !important;
}

.join__inputs__top {
  display: flex;
  flex-direction: column;
  width: 305px;
}

.join__inputs__label {
  position: relative;
  margin-bottom: 60px;
}

.join__inputs__input {
  background: transparent;
  border: none;
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #6801e6;
  outline: none;
  box-shadow: none;
}

.join__inputs__input::placeholder {
  color: rgba(104, 1, 230, 0.5);
}

.join__inputs__text {
  font-size: 12px;
  line-height: 140%;
  font-weight: bold;
  text-align: center;
  color: #6801e6;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 100%;
  text-align: center;
  pointer-events: none;
  transition: opacity 0.2s ease-in;
  opacity: 1;
  text-transform: uppercase;
  transform: translateY(-20px);
}

.join__inputs__warning {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../images/main/warn.svg');
  background-size: contain;
  left: calc(50% - 10px);
}

.join__inputs__input:not(:placeholder-shown) + .join__inputs__text {
  opacity: 0.5;
}

.join__inputs__input:invalid:not(:placeholder-shown)
  + .join__inputs__text
  + .join__inputs__warning {
  display: block;
}

.main__block.main__numbers_mobile {
  padding: 20px;
}

.numbers__title {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  border-radius: 70px;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  text-align: center;
  padding: 22px 0;
  margin-bottom: 142px;
}

.numbers__count {
  font-family: Space Grotesk;
  font-size: 12vw;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.numbers__info__title {
  font-size: 64px;
  line-height: 74px;
  color: #ddcef0;
  margin-bottom: 12px;
}

.numbers__info__text {
  font-size: 20px;
  line-height: 140%;
  color: #ddcef0;
}

.numbers__controls__item {
  position: relative;
  width: 354px;
  text-align: right;
  padding: 21px 30px;
  font-size: 20px;
  line-height: 140%;
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 70px;
  transition: all 0.15s ease-in;
}

.numbers__controls__item span {
  cursor: pointer;
}

.numbers__controls__item span:hover {
  color: #fff;
}

.numbers__controls__item_active {
  background-color: rgba(255, 255, 255, 0.15);
}

.numbers__controls__item img {
  position: absolute;
  left: 0;
  top: 0;
  left: 30px;
  top: 23px;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.numbers__controls__item_active img {
  opacity: 1;
}

@supports (
  (-webkit-backdrop-filter: blur(100px)) or (backdrop-filter: blur(100px))
) {
  .numbers__controls__item_active {
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
  }
}

.numbers__info__slide {
  position: absolute;
  padding: 30px;
  padding-left: 0;
  max-width: 675px;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-1400px);
  opacity: 0;
  transition: all 0.55s ease-in-out;
}

.numbers__info__slide_active {
  transform: translateX(0);
  opacity: 1;
}

.numbers__back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: url(#goo);
}

.numbers svg {
  position: absolute;
}

.numbers__blob {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #771ae9;
  position: absolute;
  top: -200px;
  transform: translateZ(0);
  animation: fall 12s infinite;
  animation-delay: 200;
}

@keyframes fall {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(600px);
  }
}

.numbers__blob:nth-of-type(1) {
  left: 25%;
  animation-delay: 1s;
  width: 190px;
  height: 190px;
}

.numbers__blob:nth-of-type(2) {
  left: 60%;
  animation-delay: 2s;
  animation-duration: 7s;
}

.numbers__blob:nth-of-type(3) {
  left: 20%;
  animation-delay: 3s;
  width: 140px;
  height: 140px;
}

.numbers__blob:nth-of-type(4) {
  left: 75%;
  animation-delay: 4s;
  animation-duration: 7s;
  width: 160px;
  height: 160px;
}

.numbers__blob:nth-of-type(5) {
  left: 35%;
  animation-delay: 5s;
}

.numbers__blob:nth-of-type(6) {
  left: 40%;
  animation-delay: 6s;
  animation-duration: 7s;
  width: 190px;
  height: 190px;
}

.numbers__blob:nth-of-type(7) {
  left: 75%;
  animation-delay: 7s;
  width: 130px;
  height: 130px;
}

.numbers__blob:nth-of-type(8) {
  left: 45%;
  animation-delay: 8s;
}

.numbers__blob:nth-of-type(9) {
  left: 50%;
  animation-delay: 9s;
  width: 140px;
  height: 140px;
}

.numbers__blob:nth-of-type(10) {
  left: 80%;
  animation-delay: 10s;
}

.numbers__blob:nth-of-type(11) {
  left: 15%;
  animation-delay: 11s;
  width: 140px;
  height: 140px;
}

.numbers__blob:nth-of-type(12) {
  left: 50%;
  animation-delay: 12s;
}

.numbers__blob:nth-of-type(13) {
  left: 65%;
  animation-delay: 3s;
  width: 140px;
  height: 140px;
}

.numbers__blob:nth-of-type(14) {
  left: 40%;
  animation-delay: 6s;
  width: 130px;
  height: 130px;
}

.numbers__blob:nth-of-type(15) {
  left: 5%;
  animation-delay: 8s;
}

.numbers__border:nth-of-type(1) {
  left: 0;
  top: 0;
}

.numbers__border:nth-of-type(2) {
  left: 0;
  bottom: 0;
}

.numbers__next {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  border-radius: 70px;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  text-align: center;
  padding: 22px 0;
}

.numbers__next .numbers__arrow {
  background: #6801e6;
}

.main__numbers__blob {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__numbers__blob_bl {
  left: 32px;
  bottom: -67px;
  background-image: url('../images/main/bl.svg');
  width: 415px;
  height: 310px;
}

.main__numbers__blob_tl {
  left: 89px;
  top: -91px;
  background-image: url('../images/main/tl.svg');
  width: 267px;
  height: 401px;
}

.main__numbers__blob_tr {
  right: 250px;
  top: -170px;
  background-image: url('../images/main/tr.svg');
  width: 358px;
  height: 515px;
}

.main__numbers__blob_mid {
  right: 430px;
  bottom: 30px;
  background-image: url('../images/main/mid.svg');
  width: 192px;
  height: 289px;
}

.main__numbers__blob_br {
  right: -40px;
  bottom: -40px;
  transform: rotate(160deg);
  background-image: url('../images/main/tl.svg');
  width: 267px;
  height: 401px;
}

@media (max-width: 1200px) {
  .join__slider__send_finish:before {
    content: 'Спасибо!';
  }
}

@media (max-width: 1045px) {
  .join__info {
    font-size: 18px;
  }

  .join__info__title {
    font-size: 54px;
    line-height: 62px;
  }

  .numbers__info__slide {
    max-width: 525px;
  }
}

@media (max-width: 980px) {
  .join__info__text p {
    font-size: 16px;
    line-height: 130%;
    color: #6801e6;
  }
}

.main__gallery__mobarrow {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0px;
  top: 290px;
  background-image: url('../images/icons/mob-arrow.svg');
  background-repeat: no-repeat;
  background-size: 17px auto;
  background-position: center;
  z-index: 9;
  display: none;
}

.main__gallery__mobarrow_left {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}

@media (max-width: 920px) {
  @keyframes fall {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(800px);
    }
  }

  .join__slider__send_finish:before {
    content: 'Спасибо! Пожалуйста дождитесь ответа на письмо.';
  }

  .join__inputs_closed {
    transform: translateX(0) !important;
  }

  .main__numbers__blob {
    display: none;
  }

  .numbers__slide__info::before {
    display: none;
  }

  .numbers__slide__info {
    font-size: 18px;
    line-height: 140%;
    color: #ddcef0;
  }

  .main__join {
    height: auto;
  }

  .join__info {
    width: 100%;
    height: 100vw;
    margin-bottom: 5px;
  }

  .join__inputs {
    width: 100%;
    height: 100vw;
    transform: translateX(0);
  }

  .join__form {
    flex-direction: column;
  }

  .join__info {
    height: auto;
  }

  .main__gallery__controls {
    display: none;
  }

  .main__numbers_desktop {
    flex-direction: column;
  }

  .numbers__info {
    height: 200px;
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  .numbers__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .numbers__controls__item {
    padding: 21px 60px;
    width: auto;
  }

  .numbers__controls__item img {
    display: none;
  }

  .numbers__controls__item {
    background: rgba(255, 255, 255, 0.1);
    margin: 2.5px;
  }

  @supports (
    (-webkit-backdrop-filter: blur(100px)) or (backdrop-filter: blur(100px))
  ) {
    .numbers__controls__item {
      background-color: rgba(255, 255, 255, 0.15);
      -webkit-backdrop-filter: blur(100px);
      backdrop-filter: blur(100px);
    }
  }

  .numbers__controls__item span:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  .numbers__controls__item_active {
    background: #ddcef0;
    color: rgba(104, 1, 230, 0.8) !important;
  }
}

@media (max-width: 760px) {
  .main__gallery__subtitle,
  .main__gallery__title,
  .main__numbers {
    display: none;
  }

  .main__numbers_mobile {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .join__slider__send_finish:before {
    content: 'Спасибо!';
  }

  .main__gallery .main__block {
    padding: 0;
    overflow: hidden;
  }

  .main__gallery__mob-title {
    display: block;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 15px;
  }

  .main__artists_mob {
    display: block;
    margin-bottom: 5px;
  }

  .main__artists_desktop {
    display: none;
  }

  .artists__block {
    width: auto;
    min-width: auto;
    height: auto;
    margin-right: 5px;
  }

  .artists__img {
    width: 275px;
    height: 275px;
    margin: 5px 0 5px;
  }

  .artists__block {
    display: flex;
    flex-direction: column;
  }

  .artists__info {
    background: #ef8632;
    border-radius: 40px;
    padding: 30px 20px;
    height: 275px;
    width: 275px;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #ffffff;
  }

  .main__artists_mob .artists__block:nth-child(2) .artists__info {
    background: #6801e6;
  }
  .main__artists_mob .artists__block:nth-child(3) .artists__info {
    background: #79c2be;
  }

  .artists__info__name {
    margin-bottom: 39px;
  }

  .artists__all {
    width: 275px;
    min-width: 275px;
    padding: 20px 30px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background: #79c2be;
    border-radius: 40px;
  }

  .artists__all__title {
    font-size: 36px;
    line-height: 41px;
    color: #ffffff;
    margin-bottom: 30px;
  }

  .artists__all__text {
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
  }

  .artists__all__text p {
    margin-bottom: 20px;
  }

  .main__numbers_mobile .main__block {
    padding: 0;
  }

  .numbers__slide__info {
    font-size: 16px;
    line-height: 130%;
  }

  .numbers__slide {
    padding-bottom: 122px;
  }

  .numbers__slide__count {
    margin-bottom: 15px;
  }

  .join__info__title {
    font-size: 36px;
    line-height: 41px;
  }

  .join__inputs {
    padding: 40px 0 60px;
  }

  .join__form .button_file {
    height: 50px;
  }

  .join__inputs__label {
    margin-bottom: 26px;
  }

  .join__info {
    margin-bottom: 5px;
    height: calc(100vw - 10px);
    min-height: 400px;
  }

  .join__info__text p:nth-child(2) {
    display: none;
  }

  .join__inputs__input {
    font-size: 16px;
    line-height: 140%;
  }

  .main__gallery__mobarrow {
    display: block;
  }

  .main__numbers__blob {
    display: block;
    width: 169px;
    height: 250px;
    background-image: url('../images/main/tl.svg');
    opacity: 0.9;
    top: 77px;
    left: -64px;
  }

  .main__numbers__blob:nth-child(2) {
    top: 243px;
    left: auto;
    right: -20px;
    transform: rotate(-90deg);
    opacity: 0.6;
  }

  .main__gallery__info {
    padding: 33px 20px 33px;
    bottom: 0;
    left: 0;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 100%;
    background: #79c2be;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.8);
  }

  .main__gallery__logo {
    display: block;
  }

  .main__gallery .main__block {
    height: auto;
  }

  .main__gallery__img {
    position: relative;
    --width: calc(100vw - 10px);
    height: calc(var(--width) * 1.24);
  }

  .main__gallery__corner {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    display: block;
  }

  .main__gallery__corner_left {
    left: 0;
  }

  .main__gallery__corner_right {
    right: 0;
  }
}
